main {
  margin: 40px auto;
  width: 80%;
  height: 100%;
}

a:hover {
  text-decoration: none;
}

.float-button {
  position: -webkit-sticky;
  position: sticky;
  float: right;
  width: 57px;
  height: 57px;
  border-radius: 41px;
  right: 20px;
  bottom: 20px;
}

.filter-div {
  width: 250px;
}

.delete-act {
  color: red;
}
.delete-act:hover {
  color: white;
  background-color: red;
}

#alert {
  font-weight: bold;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: none;
}

.platform-icon {
  width: 25px;
  height: 25px;
}

.title {
  margin: 10px 0 5px 0;
  font-weight: bold
}
